<a href="/events">Events Dashboard</a>
<div>
	<form action="/" method="post" role="form">
	  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	  
	  <button type="submit" class="btn btn-default">Log Out</button>
	</form>
</div>

<%=@event%>

<h4>Host: </h4>